html{
    width: 100% ;
    height: 100% ;
}

.index-body{
    width: 100% ;
    height: 100% ;
    background-image: url(image/index_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.bg-word {
    position: absolute;
    z-index: 0;          
    font-weight: bold;
    font-size: 3.8rem;
    pointer-events: none;
}

#word1 { top: 10%; left: 5%; transform: rotate(-15deg); }
#word2 { top: 20%; right: 10%; transform: rotate(20deg); }
#word3 { bottom: 15%; left: 15%; transform: rotate(10deg); }
#word4 { bottom: 30%; right: 5%; transform: rotate(-25deg); }
#word5 { bottom: 50%; left: 20%; transform: rotate(10deg); }

.index-start-container{
    width: 55%;
    height: 50%;
    padding: 5% 10%;
    padding: 10px 20px;
    display: inline-block;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.test-body{
    width: 100% ;
    height: 100% ;
    display:flex;
    justify-content: center;
    align-items: center;
}

.test-start-container{
    width: 55%;
    height: 50%;
    padding: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.result-body{
    width: 100% ;
    height: 100% ;
    background-image: url(image/result_image.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
}