html{
    width: 100% ;
    height: 100% ;
}

.index-body{
    width: 100% ;
    height: 100% ;
    background-image: url(image/index_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

@keyframes float{
    0%{
        transform: translateY(0px) rotate(0deg);
    }

    50%{
        transform: translateY(-20px) rotate(5deg);
    }

    100%{
        transform: translateY(0px) rotate(0deg);
    }
}

.bg-word-index {
    position: absolute;
    z-index: 0;          
    font-weight: bold;
    font-size: 3.8rem;
    pointer-events: none;
    animation: float 5s ease-in-out infinite
}

#word1_index { top: 10%; left: 5%; transform: rotate(-15deg); }
#word2_index { top: 10%; right: 10%; transform: rotate(20deg); }
#word3_index { bottom: 15%; left: 15%; transform: rotate(10deg); }
#word4_index { bottom: 10%; right: 15%; transform: rotate(-25deg); }
#word5_index { bottom: 50%; left: 20%; transform: rotate(10deg); }
#word6_index { bottom: 50%; right: 15%; transform: rotate(18deg); }
#word7_index { top: 10%; left: 45%; transform: rotate(-25deg); }
#word8_index { bottom: 10%; right: 45%; transform: rotate(-4deg); }

.bg-word-test {
    position: absolute;
    z-index: 0;          
    font-weight: bold;
    font-size: 3.8rem;
    pointer-events: none;
    animation: float 5s ease-in-out infinite
}

#word1_test { top: 10%; left: 5%; transform: rotate(-15deg); }
#word2_test { top: 10%; right: 10%; transform: rotate(20deg); }
#word3_test { bottom: 15%; left: 5%; transform: rotate(10deg); }
#word4_test { bottom: 10%; right: 15%; transform: rotate(-25deg); }
#word5_test { bottom: 50%; left: 10%; transform: rotate(10deg); }
#word6_test { bottom: 50%; right: 11%; transform: rotate(18deg); }
#word7_test { top: 10%; left: 45%; transform: rotate(-25deg); }
#word8_test { bottom: 10%; right: 50%; transform: rotate(-4deg); }

.bg-word-result {
    position: absolute;
    z-index: 0;          
    font-weight: bold;
    font-size: 3.8rem;
    pointer-events: none;
    animation: float 5s ease-in-out infinite
}

#word1_result { top: 10%; left: 5%; transform: rotate(-15deg); }
#word2_result { top: 10%; right: 10%; transform: rotate(20deg); }
#word3_result { bottom: 15%; left: 5%; transform: rotate(10deg); }
#word4_result { bottom: 10%; right: 15%; transform: rotate(-25deg); }
#word5_result { bottom: 50%; left: 10%; transform: rotate(10deg); }
#word6_result { bottom: 50%; right: 11%; transform: rotate(18deg); }
#word7_result { top: 10%; left: 45%; transform: rotate(-25deg); }
#word8_result { bottom: 10%; right: 50%; transform: rotate(-4deg); }

.index-start-container{
    width: 55%;
    height: 50%;
    padding: 5% 10%;
    padding: 10px 20px;
    display: inline-block;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.test-body{
    width: 100% ;
    height: 100% ;
    background-image: url(image/index_image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.test-start-container{
    width: 55%;
    height: 50%;
    padding: 5% 10%;
    padding: 10px 20px;
    display: inline-block;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}



.result-body{
    width: 100% ;
    height: 100% ;
    background-image: url(image/result_image.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display:flex;
    justify-content: center;
    align-items: center;
}

.result-start-container{
    width: 55%;
    height: 50%;
    padding: 5% 10%;
    padding: 10px 20px;
    display: inline-block;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}